// 自分のスタイル
.container {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: 
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans",
    sans-serif;
  width: 100vw;
  height: 100vh;
  #calendarView {
    max-width: 600px;
    margin: 0 auto;
    #summary {
      padding-top: 30px;
      margin-bottom: 20px;
      #userName, #workTime {
        display: flex;
        justify-content: center;
      }
      #userName {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 8px;
      }
      #workTime {
        color: #616161;
      }
    }
    #result {
      text-align: center;
      color: #01b6ff;
    }
    .kousintyu {
      padding-top: 100px;
      font-weight: 600;
      font-size: 20px;
    }
    #monthNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px auto 20px auto;
      #currentMonth {
        font-size: 18px;
        font-weight: 500;
      }
      #prevMonth, #nextMonth {
        background-color: #fff;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 18px;
          height: 18px;
          object-fit: contain;
          object-position: center;
        }
      }
    }
    #calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1px;
      .week-header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        font-weight: bold;
        margin-bottom: 2px;
        gap: 1px;
        .week-cell {
          font-size: 14px;
          padding: 4px 0;
        }
      }
      .day {
        outline: solid 1px #d3d3d3;
        min-height: 60px;
        padding: 4px;
        font-size: 12px;
        box-sizing: border-box;
        min-width: 0;
        .date {
          font-weight: 600;
          display: block;
          margin-bottom: 2px;
        }
        .shift-time {
          white-space: nowrap;     /* 改行させない */
          overflow: hidden;        /* はみ出た分を隠す */
          padding: 2px;
          border-radius: 2px;
          background-color: #d3d3d3;
        }
      }
    }
  }
}

